[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-KDE-FactoryName=nis

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoinstResource=

Icon=nis_client
Exec=/sbin/yast2 nis 

Name=NIS Client
GenericName=Configure NIS client
Name[cs]=Klient NIS
GenericName[cs]=Konfigurace klienta NIS
Name[de]=NIS-Client
GenericName[de]=Konfiguration des NIS-Clients
Name[es]=Cliente NIS
GenericName[es]=Configuración del cliente NIS
Name[hu]=NIS kliens
GenericName[hu]=A NIS kliens beállítása
Name[it]=Client NIS
GenericName[it]=Configura il client NIS
Name[ko]=NIS 클라이언트
GenericName[ko]=NIS 클라이언트 설정
Name[nl]=NIS cliënt
GenericName[nl]=Configureer NIS cliënt
Name[pt]=Cliente NIS
GenericName[pt]=Configurar cliente NIS
Name[sk]=Klient NIS
GenericName[sk]=Konfigurácia klienta NIS
Name[sv]=NIS-klient
GenericName[sv]=Ställ in NIS-klient
GenericName[da]=Konfigurér NIS-klient
Name[el]=Πελάτης NIS
GenericName[el]=Ρύθμιση του NIS πελάτη
Name[fr]=Client NIS
GenericName[fr]=Configurer le client NIS
Name[ja]=NIS クライアント
GenericName[ja]=NIS クライアントの設定
GenericName[lt]=Konfigūruoti NIS klientą
Name[sl]=Odjemalec NIS
GenericName[sl]=Nastavitev NIS odjemalca
GenericName[tr]=NIS istemcisini yapılandır
